html{
  background: black;
}

body{
  margin: auto;
  width: 60%;
  font-family: 'Helvetica';
  font-size : 1.8rem;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h6{
  margin: 50px;
  color:white;
  font-size: 0.6em;
}

p{
  margin: 50px;
  color:white;
  font-size: 0.4em;
}

.logo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:135px;
  margin-top:150px;
  margin-left: 0 ;
}

.logo>img{
  margin-top: 80px;
  margin-left: 40px;
}

img.fond{
  position:absolute;
  margin-left: 40px;
  width : 40%;
  z-index:1;
}

img.coupDEtat{
  margin-top:50px;
  margin-left:60px;
  position:absolute;
  width : 30%;
  z-index:3;
}

.play{
  margin-top: 180px;
  height: 45px;
  width: 90px;
  z-index:10;
  border:none;
  border-radius:15px ;
  background : #D9000D;
  pointer-events: none;
  outline: none;
  transform: scale(1);
  transition: .2s ease-in-out;
}

.jouer:hover {
  transform: scale(1.3);
}

a{
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size:1.2rem;
  color:white;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.04);
}

.music{
  visibility: hidden;
  position: absolute;
}
