html{
  background: black;
}

body{
  margin: auto;
  width: 60%;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:80px;
}

img{
  width : 25rem;
}

button{
  margin :20px;
  background : #D9000D;
}
