@font-face {
	font-family: "Thug", Helvetica,Arial, sans-serif;
	src: url('../fonts/THUG__.TTF');
}

html{
	font-family: 'Staatliches', cursive;
	background-image: url(../img/ringBackground.jpg);
}

body{
  margin:0 auto;
  width: 60%;
  font-family: Helvetica, Arial, sans-serif;
  font-size : 1rem;
  color:white;
  font-family: 'Ruda', sans-serif;
}

.txt{
	font-size: 15px;
	font-family: ;
	text-align: center;
}

h6{
  font-family: "Thug";
  font-size:1.7em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color:red;
}

ul{
  font-size:0.8em;
  line-height: 2;
  list-style:none;
}

.hero{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.imgHome{
  display:flex;
  justify-content: center;
  align-items: center;
  width:200%;
  height:500px;
  background-image: url("../img/fondLogo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.hover{
	display:flex;
  justify-content: center;
  align-items: center;
	position:absolute;
	margin-left:15px;
}

.coupDEtat{
  height:220px;
  margin-bottom:55px;
	margin-left:20px;
  transition: transform 0.2s;
}

.play {
  border:none;
  border-radius: 28px;
  position:absolute;
  color: white;
  font-size: 22px;
  background: none;
  padding: 10px 20px 10px 20px;
  font-family: "Thug", Helvetica, sans-serif;
  font-size:5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.2s;
	visibility: hidden;
}

.hover:hover .coupDEtat{
  visibility: hidden;
}

.hover:hover .play{
  visibility: visible;
}

a{
  text-decoration: none;
  color:white;
}
